﻿<div class="page-header">
    <h1>Create Auction Item</h1>
</div>
<div class="row">
    <form role="form">
        <fieldset class="form-group">
            <label for="itemTitle">Title</label>
            <input class="form-control" type="text" ng-model="Item.Title" id="itemTitle" placeholder="Title" required autofocus/>
        </fieldset>

        <fieldset class="form-group">
            <label for="itemCategory">Category</label>
            <select ng-model="Item.Category">
                <option ng-repeat="category in categories" value="{{category}} ">
                    {{category}}
                </option>
            </select>
        </fieldset>

        <fieldset class="form-group">
            <label for="itemDescription">Description</label>
            <textarea class="form-control" ng-model="Item.Description" id="itemDescription" placeholder="Description" required></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label for="auctionLength">Auction Length (Hours)</label>
             <input class="form-control" type="number" min="1" ng-model="Item.AuctionLengthInHours" id="auctionLength" placeholder="Hours" required/>
        </fieldset>

        <fieldset class="form-group">
            <label for="itemStartPrice">Starting Price</label>
            <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input class="form-control" type="number" step="any" min="0" ng-model="Item.StartingPrice" id="itemStartPrice" placeholder="Start price (GBP)" required/>
            </div>
        </fieldset>
        <div data-ng-hide="message == ''" class="alert alert-danger">
            {{message}}
        </div>
        <button type="submit" class="btn btn-lg btn-info btn-block" ng-click="addItem()">Add Item</button>
    </form>
</div>
