<div class="page-header">
    <h1>Auction Site</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <form role="form">
                    <input type="text" ng-model="searchString" />
                    <select ng-model="searchWhat">
                        <option value="title">Title</option>
                        <option value="description">Description</option>
                    </select>
                    Category:
                    <select ng-model="category">
                        <option value="Any">Any</option>
                        <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
                    </select>
                    <button type="submit" class="btn" ng-click="search()">Search</button>
                </form>
            </li>
            <li class="list-group-item"><a ng-href="#/items">Auctions</a></li>
            <li class="list-group-item"><a ng-href="#/add/item">Create Auction</a></li>
            <li class="list-group-item"><a ng-href="#/my/items/selling">My Selling</a></li>
            <li class="list-group-item"><a ng-href="#/my/items/buying">My Buying</a></li>
        </ul>
    </div>
</div>