﻿<h1>Title: {{item.Title}}</h1>
<p>Description: {{item.Description}}</p>
<p>End Time: {{endTimeString}}</p>
<p>Time Left: {{timeLeftString}}</p>
<p>Seller: {{item.OwnerUserName}}</p>
<button ng-hide="item.Finished" ng-click="refresh()">Refresh</button>

<div>
    <div ng-show="item.Finished">
        <p>Number of Bids: {{item.NumberOfBids}}</p>
        <p>Winner:{{item.Winner}} </p>
        <p>Sale price:{{item.CurrentSecondPrice | currency:"£"}} </p>
    </div>
    <div ng-hide="item.Finished">
        <p>Current Winner:{{item.Winner}} </p>
        <p>Current price:{{item.CurrentSecondPrice | currency:"£"}} </p>
        <p>Number of Bids: {{item.NumberOfBids}}</p>
        <div ng-hide="item.OwnItem">
            <p>Minimum bid: {{minimumBid | currency:"£"}}</p>
            <label>Place bid:<input type="text" name="bid" ng-model="bid" /></label>
            <button ng-click="placeBid()">Submit Bid</button>
        </div>
    </div>
    <div data-ng-hide="message == ''" class="alert alert-danger">
        {{message}}
    </div>
</div>