<div class="page-header">
    <h1>{{category}} Auctions</h1>
</div>
<button ng-click="refresh()">Refresh</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Current Price</th>
            <th>Winner</th>
            <th>End Time</th>
            <th>Seller</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | orderBy: 'EndTime'">
            <td><a href="/#/items/{{item.Id}}">{{item.Title}}</a></td>
            <td>{{item.CurrentSecondPrice | currency:"&pound;"}}</td>
            <td>{{item.Winner}}</td>
            <td>{{displayDate(item.EndTime)}}</td>
            <td>{{item.OwnerUserName}}</td>
            <td>{{item.CategoryName}}</td>
        </tr>
    </tbody>
</table>
Goto Page:<button ng-repeat="num in pageLinks" ng-click="gotoPage(num)">{{num + 1}}</button>
<div>{{showingDisplay}}</div>
