<div class="page-header">
    <h1>Login</h1>
</div>
<form role="form">
    <fieldset class="form-group">
        <label for="loginUsername">Username</label>
        <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" id="loginUsername" required autofocus>
    </fieldset>
    <fieldset class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" id="loginPassword" required>
    </fieldset>
   
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
 
    <div data-ng-hide="message == ''" class="alert alert-danger">
        {{message}}
    </div>
</form>