﻿<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Auction</title>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular-local-storage.js"></script>
    <script type="text/javascript" src="lib/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/moment/moment.min.js"></script>

	<script type="text/javascript" src="js/app.js"></script>

	<script type="text/javascript" src="controllers/authControllers.js"></script>
	<script type="text/javascript" src="controllers/auctionControllers.js"></script>
	<script type="text/javascript" src="controllers/homeController.js"></script>
	<script type="text/javascript" src="controllers/indexController.js"></script>
    <script type="text/javascript" src="controllers/myControllers.js"></script>

	<script type="text/javascript" src="services/authService.js"></script>
	<script type="text/javascript" src="services/authInterceptorService.js"></script>
    <script type="text/javascript" src="services/utilityServices.js"></script>

    <script type="text/javascript" src="resources/itemResources.js"></script>
    <script type="text/javascript" src="resources/bidResource.js"></script>
    <script type="text/javascript" src="resources/categoryResource.js"></script>

    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="main container" ng-view></div>
</body>
</html>